[%- PROCESS 'config/archive_layout.tmpl' -%]
[% g('All %s Packages in "%s"', organisation, suite) %]

[% g('Generated:') _ ' ' _ timestamp.string %]
[% g('Copyright (C)') _ ' ' _ copyright.years _ ' ' _ copyright.name %];
[% g('See <URL:%s> for the license terms.', license.url) %]

[% FOREACH packages -%]
  [%- BLOCK marker %] [[% text %]][% END -%]
  [%- BLOCK markers -%]
    [%- PROCESS marker text=section IF section != main_section -%]
    [%- PROCESS marker text=archive IF archive != main_archive -%]
  [%- END -%]
  [%- IF providers.size %]
[% name %] [% g('virtual package provided by') _ ' ' _ providers.join(', ') %]
  [%- END -%]
  [%- IF versions %]
[% name %] ([% versions %])[% PROCESS markers %] [% desc %]
  [%- END -%]
[%- END %]
