[% g('All %s Packages in "%s"', organisation, suite) %]

[% g('Generated:') _ ' ' _ timestamp.string %]
[% g('Copyright ©') _ ' ' _ copyright.years _ ' ' _ copyright.name %];
[% g('See <URL:%s> for the license terms.', license.url) %]
