[%- PROCESS 'html/head.tmpl'
   title_tag = g('Package Download Selection -- %s', filename.file)
   description = desc
   keywords = "$suite, $archive, $section, $subsection, $version"
   navigation = [ { prefix=>g('Distribution:'), title=>g('Overview over this suite'), url=>make_url('/'), name=>suite },
		  { prefix=>g('Package:'), url=>make_url(pkg,'','arch',undef), name=>pkg },
		  { url=>make_url(pkg), name=>architecture },
		  { name => g('Download') },
 		]
-%]
[%- PROCESS 'config/archive_layout.tmpl' -%]
[%- PROCESS 'config/mirrors.tmpl' -%]
[%- PROCESS 'config/architectures.tmpl' -%]
[%- PROCESS 'html/messages.tmpl' -%]

[% IF architecture != 'all' %]
<h2>[% g('Download Page for <kbd>%s</kbd> on %s machines', filename.file, architectures.$architecture) %]</h2>
[% ELSE %]
<h2>[% g('Download Page for <kbd>%s</kbd>', filename.file) %]</h2>
[% END %]

<div class="pconstantnag">
<p>[% g('If you are running %s, it is strongly suggested to use a package manager like <a href="%s">aptitude</a> or <a href="%s">synaptic</a> to download and install packages, instead of doing so manually via this website.',
	organisation, make_url('aptitude','','arch',''), make_url('synaptic','','arch','')) %]</p>
<p>[% g('You should be able to use any of the listed mirrors by adding a line to your <kbd>/etc/apt/sources.list</kbd> like this:') %]</p>
[% IF archive == "volatile" %]
<pre>
deb http://<em>[% mirrors.$archive.europa.0 %]</em> [% suite.replace('-','/') %] main [% section IF section != main_section %]
</pre>
<p>[% g('Replacing <em>%s</em> with the mirror in question.', mirrors.$archive.europa.0) %]
[% ELSIF archive == "security" %]
<pre>
deb [% 'http://' _ security_mirror_url %] [% suite _ security_suite_suffix %] main [% section IF section != main_section %]
</pre>
[% ELSE %]
<pre>
deb http://<em>[% mirrors.$archive.europa.0 %]</em> [% suite %] main [% section IF section != main_section %]
</pre>
<p>[% g('Replacing <em>%s</em> with the mirror in question.', mirrors.$archive.europa.0) %]
[%- END %]
[% IF suite == "experimental" %]
<h2>[% g('Experimental package') %]</h2>
<p>[% g('Warning: This package is from the <strong>experimental</strong> distribution. That means it is likely unstable or buggy, and it may even cause data loss. Please be sure to consult the changelog and other possible documentation before using it.') %]</p>
[% END %]
[% IF subsection == "debian-installer" %]
<h2>[% g('debian-installer udeb package') %]</h2>
<p>[% g('Warning: This package is intended for the use in building <a href="http://www.debian.org/devel/debian-installer">debian-installer</a> images only. Do not install it on a normal %s system.', organisation) %]</p>
[% END %]
</div>

[%- SET a = mirrors.$archive -%]

[% IF archive != 'security' %]
  <p>[% g('You can download the requested file from the <tt>%s</tt> subdirectory at any of these sites:',
	filename.directory) %]</p>
  <div class="cardleft">
  [% FOREACH continent IN [ 'north_america', 'south_america', 'asia', 'africa', 'australia' ] %]
    [% IF a.$continent %]
	<p><em>[% continents.$continent %]</em></p>
	<ul>
	[% FOREACH m IN a.$continent %]
	  <li><a href="http://[% m %]/[% filename.full %]">[% m %]</a></li>
	[% END %]
	</ul>
    [% END %]
  [% END %]
  </div><div class="cardright">
  [% FOREACH continent IN [ 'europa' ] %]
    [% IF a.$continent %]
	<p><em>[% continents.$continent %]</em></p>
	<ul>
	[% FOREACH m IN a.$continent %]
	  <li><a href="http://[% m %]/[% filename.full %]">[% m %]</a></li>
	[% END %]
	</ul>
    [% END %]
  [% END %]
  </div>
[% ELSE %]
<p>[% g('You can download the requested file from the <tt>%s</tt> subdirectory at:', filename.directory) %]</p>
<ul><li><a href="http://[% security_mirror_url %]/[% filename.full %]">[% security_mirror_url %]</a></li></ul>
<p>[% g('%s security updates are officially distributed only via <tt>%s</tt>.',
	organisation, security_mirror) %]</p>
[% END %]

<div id="pdownloadnotes">

[% IF a.mirror_list %]
<p style="clear:both">[% g('If none of the above sites are fast enough for you, please see our <a href="%s">complete mirror list</a>.', a.mirror_list ) %]</p>
[% END %]

[% IF a.unofficial_port %]
[% SET port = a.unofficial_port.$architecture %]
[% IF port.url_name;
   SET port.url = ports_url _ port.url_name _ '/';
   END -%]
<p style="clear:both">[% g('Note that %s is not officially included in the %s archive yet, but the %s porter group keeps their archive in sync with the official archive as close as possible. See the <a href="%s">%s ports page</a> for current information.',
	port.name, organisation, port.name, port.url, port.name) %]</p>
[% END %]

<p>[% g('Note that in some browsers you will need to tell your browser you want the file saved to a file. For example, in Firefox or Mozilla, you should hold the Shift key when you click on the URL.') %]</p>

</div>

<h3>[% g('More information on <kbd>%s</kbd>:', filename.file) %]</h3>
<table id="pdownloadmeta">
<tr><th>[% g('Exact Size') %]</th>	<td class="size">[% g('%s Byte (%s %s)', size, num.format_number(pkgsize,1), pkgsize_unit) %]</td>
<tr><th>[% g('MD5 checksum') %]</th>	<td><tt>[% md5sum %]</tt></td>
<tr><th>[% g('SHA1 checksum') %]</th>	<td><tt>[% sha1 || g('Not Available') %]</tt></td>
<tr><th>[% g('SHA256 checksum') %]</th>	<td><tt>[% sha256  || g('Not Available') %]</tt></td>
</table>

[%- PROCESS 'html/foot.tmpl' -%]
