[%- PROCESS 'html/head.tmpl'
   title_tag = g("File list of package %s/%s/%s", pkg, suite, arch)
   page_title = g("File list of package <em>%s</em> in <em>%s</em> of architecture <em>%s</em>", pkg, suite, arch)
   keywords = "$suite, $arch, filelist"
   navigation = [ { prefix=>g('Distribution:'), title=>g('Overview over this suite'), url=>make_url('/'), name=>suite },
		  { prefix=>g('Package:'), url=>make_url(pkg,'','arch',undef), name=>pkg },
		  { url=>make_url(pkg), name=>arch },
		  { name => g('File list') },
 		]
-%]

[% FOREACH file IN files %]
[%- '<div id="pfilelist"><pre>' IF loop.first -%]
[% file %]
[% '</pre></div>' IF loop.last -%]
[% END %]

[%- PROCESS 'html/foot.tmpl' page_name="$pkg/filelist" -%]
