[%- IF benchmark && debug -%]
Total page evaluation took [% benchmark %]<br>
[%- END -%]
</div> <!-- content -->
</div> <!-- wrapper -->

<div id="footer">

[% IF langs && langs.size > 0 %]
<!--UdmComment-->
<p>[% g('This page is also available in the following languages:') %]</p>
<p class="navpara">
[% FOREACH l IN langs %]
<a href="[% IF keyword_esc;
		make_search_url('',"keywords=$keyword_esc",'lang',l.lang);
	    ELSE;
		make_url(page_name,"",'lang',l.lang);
	    END %]" title="[% l.tooltip %]" hreflang="[% l.lang %]" lang="[% l.lang %]" rel="alternate">[% l.selfname %]
[%- IF l.transliteration %] ([% l.transliteration %])[% END %]</a>
[% END %]
<hr>
</p>
<!--/UdmComment-->
[% END %]

<div id="fineprint" class="bordertop">
<div id="impressum">
[% UNLESS footer.doNotDisplayCopyright %]
<p>
[%	g('Content Copyright &copy; %s <a href="%s">%s</a>; See <a href="%s">license terms</a>.',
		copyright.years, copyright.url, copyright.name, license.url);
	' ' _ trademarknotes IF trademarknotes %]
 <a href="/about/">[% g('Learn more about this site') %]</a>.</p>
[% END %]
<p>[% g('<a href="%s">Report a bug on this site</a>.', report_bugs_url) %]</p>
</div> <!-- end impressum -->
[% IF sponsors.size %]
<div id="sponsorfooter"><p>
[% USE Math; random = Math.int(Math.rand(sponsors.size));
  g('This service is sponsored by <a href="%s">%s</a>.', sponsors.${random}.url, sponsors.${random}.name) -%]
</p></div>
[% END %]
</div> <!-- end footer -->
</body>
</html>
