<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="[% lang %]">
<head>
<title>[% organisation %] -- [% title_tag %]</title>
<link rev="made" href="[% admin.mail %]">
<meta http-equiv="Content-Type" content="text/html; charset=[% charset %]">
<meta name="Author" content="[% admin.name %], [% admin.mail %]">
<meta name="Description" content="[% description %]">
<meta name="Keywords" content="[% organisation %],  [% keywords %]">
[% html_meta %]

<link href="/debian.css" rel="stylesheet" type="text/css" media="all">
<link href="/packages.css" rel="stylesheet" type="text/css" media="all">
<link href="/packages-site.css" rel="stylesheet" type="text/css" media="all">
<link href="/ubuntu/ubuntu.css" rel="stylesheet" type="text/css" media="all">
<link href="/ubuntu/masthead.css" rel="stylesheet" type="text/css" media="all">
[% IF rss_alternate %]
<link rel="alternate" type="application/rss+xml" title="RSS" href="[% rss_alternate %]">
[% END %]
<script src="/packages.js" type="text/javascript"></script>
</head>
<body>
[%- IF sitewidemsg -%]
<div id="psitewidemsg" class="[% sitewidemsg.importance %]">
[%- IF sitewidemsg.title -%]<h2>[% sitewidemsg.title %]</h2>[% END %]
[% sitewidemsg.txt %]
</div>
[%- END -%]
    <div id="pageWrapper">
      <div id="mastWrapper">
        <div id="masthead">
          <a class="imageLink"
             href="[% homepage %]">&nbsp;</a>

          <a class="hiddenStructure"
             href="[% homepage %]/#documentContent">Skip
             to content</a>

[%- IF print_search_field %]
[% checked = 'checked="checked"'
   selected = 'selected="selected"' %]
<div id="search">
<form method="GET" action="/search">
<div id="hpacketsearch">
[% IF search_field_values.mode %]<input type="hidden" name="mode" value="[% search_field_values.mode %]">[% END %]
[% IF search_field_values.sort_by %]<input type="hidden" name="sort_by" value="[% search_field_values.sort_by %]">[% END %]
[% IF search_field_values.suite %]<input type="hidden" name="suite" value="[% search_field_values.suite %]">[% END %]
[% IF search_field_values.sections %]<input type="hidden" name="section" value="[% search_field_values.sections %]">[% END %]
[% IF search_field_values.architectures %]<input type="hidden" name="arch" value="[% search_field_values.architectures %]">[% END %]
<input type="submit" value="Search">
<select size="1" name="searchon">
<option value="names" [% selected IF search_field_values.searchon == 'names' || search_field_values.searchon == 'default' %]>
package names</option>
<option value="all" [% selected IF search_field_values.searchon == 'all' %]>descriptions</option>
<option value="sourcenames" [% selected IF search_field_values.searchon == 'sourcenames' %]>source package names</option>
<option value="contents" [% selected IF search_field_values.searchon == 'contents' %]>package contents</option>
</select>
<input type="text" size="30" name="keywords" value="[% search_field_values.keywords | html %]" id="kw">
<span style="font-size: 60%"><a href="[% searchformurl %]">all options</a></span>
</div> <!-- end hpacketsearch -->
</form>
</div>
[% END %]

     <!-- masthead content begin -->
    <h5 class="hiddenStructure">Sections</h5>    
    <div id="nav">
      <ul>        
      </ul>
    </div> <!-- nav -->
    <!-- masthead content end -->
    </div> <!-- masthead -->
   </div>  <!-- mastWrapper -->

<div class="visualClear"></div>
<div id="pnavbar">
 &gt;&gt; <a href="[% homepage %]" title="[% organisation %] Homepage">[% organisation %]</a>
 &gt;&gt; <a href="[% packages_homepage %]" title="[% organisation %] Packages Homepage">Packages</a>
[% FOREACH n IN navigation %]
 &gt;&gt; [% IF n.url %]<a href="[% n.url %]" [% IF n.title %]title="[% n.title %]"[% END %]>[% n.name %]</a>[% ELSE %][% n.name %][% END %] 
[% END %]
</div> <!-- end navbar -->

<div class="inside">
<div id="content" class="">
<div class="documentContent" id="region-content">

[%- IF page_title %]
  <h1 class="documentFirstHeading">[% page_title %]</h1>
  [%- PROCESS 'html/messages.tmpl' -%]
[% END -%]
