[% PROCESS 'config/archive_layout.tmpl' %]
[% pkg_type = is_source ? 'Source' : 'Software';
   title_common = category ? "$pkg_type Packages in \"$suite\", $category.id $category.name"
	: "$pkg_type Packages in \"$suite\"";

   nav_arr = [ { prefix=>'Distribution:', title=>'Overview over this suite', url=>make_url('/','','suite',suite), name=>suite } ];
   IF category;
	nav_last = { prefix=>"$category.id:", name=>category.name };
   ELSE;
	nav_last = { name=>'All Packages' };
   END;
   nav_arr.push( { name=>'Source',
	           url=>make_url('/','','suite',suite,'source','source') } )
	IF is_source;
   nav_arr.push( nav_last );
%]
[% PROCESS 'html/head.tmpl' 
	title_tag = title_common
	page_title = title_common
	keywords = "$suite, $category.name"
	navigation = nav_arr
%]

[% FOREACH packages %]
  [% '<dl>' IF loop.first %]

  [% BLOCK marker %] [<strong class="pmarker">[% text %]</strong>] [%- END %]
  [% BLOCK markers %]
    [% PROCESS marker text=section IF section != main_section %]
    [% PROCESS marker text=archive IF archive != main_archive %]
  [% END %]
  [% IF providers.size %]
    <dt><a href="[% name %]" id="[% name %]">[% name %]</a></dt>
       <dd>virtual package provided by
	[% FOREACH provider IN providers %]<a href="../[% provider | uri %]">[% provider %]</a>
	[%- ', ' UNLESS loop.last %][% END %]</dd>
    [% IF versions.length %]
      <dt><a href="[% name %]">[% name %]</a> ([% versions %])[% PROCESS markers %]</dt>
         <dd>[% desc | html %]</dd>
    [% END %]
  [% ELSE %]
    <dt><a href="[% name %]" id="[% name %]">[% name %]</a> ([% versions %])[% PROCESS markers %]</dt>
       <dd>[% desc | html %]</dd>
  [% END %]

  [% '</dl>' IF loop.last %]
[% END %]

[%- PROCESS 'html/foot.tmpl' -%]
