[% PROCESS 'config/archive_layout.tmpl' %]
[% IF is_source;
	title_common = category ? g('Source Packages in "%s", %s %s', suite, category.id, category.name)
				: g('Source Packages in "%s"', suite);
   ELSE;
	title_common = category ? g('Software Packages in "%s", %s %s', suite, category.id, category.name)
				: g('Software Packages in "%s"', suite);
   END;

   nav_arr = [ { prefix=>g('Distribution:'), title=>g('Overview over this suite'), url=>make_url('/','','suite',suite), name=>suite } ];
   IF category;
	nav_last = { prefix=>"$category.id:", name=>category.name };
   ELSE;
	nav_last = { name=>g('All Packages') };
   END;
   nav_arr.push( { name=>g('Source'),
	           url=>make_url('/','','suite',suite,'source','source') } )
	IF is_source;
   nav_arr.push( nav_last );
%]
[% PROCESS 'html/head.tmpl' 
	title_tag = title_common
	page_title = title_common
	keywords = "$suite, $category.name"
	navigation = nav_arr
%]

[% FOREACH p IN packages %]
  [% '<dl>' IF loop.first %]

  [% BLOCK marker %] [<strong class="pmarker">[% text %]</strong>] [%- END %]
  [% BLOCK markers %]
    [% PROCESS marker text=p.section IF p.section != main_section %]
    [% PROCESS marker text=p.archive IF p.archive != main_archive %]
  [% END %]
  [%- desclang = 'en';
      IF p.trans_desc.$ddtp_lang;
	sdesc = p.trans_desc.$ddtp_lang;
	desclang = $ddtp_lang;
      ELSE;
	sdesc = p.desc;
      END -%]
  [% IF p.providers.size %]
    <dt><a href="[% p.name %]" id="[% p.name %]">[% p.name %]</a></dt>
       <dd>[% g('virtual package provided by') %]
	[% FOREACH provider IN p.providers %]<a href="../[% provider | uri %]">[% provider %]</a>
	[%- ', ' UNLESS loop.last %][% END %]</dd>
    [% IF p.versions.length %]
      <dt><a href="[% p.name %]">[% p.name %]</a> ([% p.versions %])[% PROCESS markers %]</dt>
         <dd [% "lang=\"$desclang\"" IF desclang != po_lang %]>[% sdesc | html %]</dd>
    [% END %]
  [% ELSE %]
    <dt><a href="[% p.name %]" id="[% p.name %]">[% p.name %]</a> ([% p.versions %])[% PROCESS markers %]</dt>
       <dd [% "lang=\"$desclang\"" IF desclang != po_lang %]>[% sdesc | html %]</dd>
  [% END %]

  [% '</dl>' IF loop.last %]
[% END %]

[%- PROCESS 'html/foot.tmpl' -%]
