<!-- messages.tmpl -->
[%- FOREACH error IN errors %]
[%- '<div class="perror">' IF loop.first %]
 <p>[% error | html %]</p>
[% '</div>' IF loop.last -%]
[% END -%]
[%- FOREACH debug IN debugs %]
[%- '<div class="pdebug"><h2>Debugging:</h2><pre>' IF loop.first -%]
[% debug | html %]
[% '</pre></div>' IF loop.last -%]
[% END -%]
[%- FOREACH hint IN hints %]
[%- '<div class="phints">' IF loop.first %]
 <p>[% hint | html %]</p>
[% '</div>' IF loop.last -%]
[% END -%]
[%- FOREACH msg IN msgs %]
[%- '<div class="pmsgs">' IF loop.first %]
 <p>[% msg | html %]</p>
[% '</div>' IF loop.last -%]
[% END -%]
[%- FOREACH note IN notes %]
[%- '<div class="pnotes">' IF loop.first %]
[%- IF note.1 %]
 <h2>[% note.0 | html %]</h2>
 <p>[% note.1 | html %]</p>
[% ELSE %]
 <p>[% note.0 | html %]</p>
[% END -%]
[% '</div>' IF loop.last -%]
[% END -%]
