<!-- messages.tmpl -->
[%- FOREACH error IN errors %]
[%- '<div class="perror">' IF loop.first %]
 <p>[% error | html %]</p>
[% '</div>' IF loop.last -%]
[% END -%]
[%- FOREACH debug IN debugs %]
[%- '<div class="pdebug"><h2>Debugging:</h2><pre>' IF loop.first -%]
[% debug | html %]
[% '</pre></div>' IF loop.last -%]
[% END -%]
[%- FOREACH hint IN hints %]
[%- '<div class="phints">' IF loop.first %]
 <p>[% hint | html %]</p>
[% '</div>' IF loop.last -%]
[% END -%]
