[%- PROCESS 'html/head.tmpl'
   title_tag = g('New Packages in "%s"', suite)
   description = desc
   keywords = "$suite, new packages, $section"
   rss_alternate = 'newpkg?format=rss'
-%]
<h1>[% g('New Packages in "%s"', suite) %]</h1>

<p>
[% IF section;
	g('The following packages were added to suite <em>%s</em> (section %s) in the %s archive during the last 7 days.',
	suite, section, organisation);
   ELSE;
	g('The following packages were added to suite <em>%s</em> in the %s archive during the last 7 days.',
	suite, organisation);
   END;
   IF opts.mode == 'byage';
	g(' You can also display this list <a href="%s">sorted by name</a>.', make_url('newpkg','','mode',''));
   ELSE;
	g(' You can also display this list <a href="%s">sorted by age</a>.', make_url('newpkg','mode=byage'));
   END %]</p>
<p>[% g('This information is also available as an <a href="newpkg?format=rss">RSS feed</a>') %]
<a href="newpkg?format=rss"><img src="https://planet.debian.org/common/rss10.png" alt="[% g('[RSS 1.0 Feed]') %]"></a></p>

[% FOREACH pkg IN new_packages %]
	[% '<ul>' IF loop.first %]
	<li><a href="[% pkg.0 %]">[% pkg.0 %]</a>
	-- [% pkg.-1 | html %][% g(' <em>(%u days old)</em>', pkg.1) IF pkg.1 %]
	[% '</ul>' IF loop.last %]
[% END %]

<p class="psmallcenter"><a href="[% make_url('allpackages','') %]" title="[% g('List of all packages') %]">[% g('All packages') %]</a><br>
(<a href="[% make_url('allpackages','','format','txt.gz' ) %]">[% g('compact compressed textlist') %]</a>)<br>
  [% g('New packages in ') %] 
[% FOREACH s IN sections %]
  [%- IF s == section -%]
[% s %]
  [%- ELSE -%]
<a href="[% '../' IF section %][% s %]/newpkg">[% s %]</a>
  [%- END -%]
[% ', ' UNLESS loop.last %]
[% END %]
</p>

[%- PROCESS 'html/foot.tmpl' page_name=section ? "$section/newpkg" : "newpkg" -%]
