[%- keyword_str = search_keywords.join(' ');
   keyword_esc = uri_escape(keyword_str);
   keyword_enc = html_encode(keyword_str);

   section_str = params.values.section.no_replace.join(', ');
   section_esc = uri_escape(section_str);
   section_enc = html_encode(section_str);

   architectures_str = params.values.arch.no_replace.join(', ');
   architectures_esc = uri_escape(architectures_str);
   architectures_enc = html_encode(architectures_str);
-%]
[%- PROCESS 'html/head.tmpl'
   title_tag = g("Package Contents Search Results -- %s", keyword_enc)
   keywords = "$suite"
   print_search_field = 'packages'
   navigation = [ { title => '', name => g('Package Contents Search Results'), url => '' } ]
   search_field_values = {
	keywords => search_keywords.join(' '),
	searchon => 'contents',
        mode => mode,
	sort_by => sort_by,
	suite => suite,
	architectures => params.values.arch.no_replace.join(','),
	sections => params.values.section.no_replace.join(','),
   }
-%]

<div id="psearchsug">

<ul class="linklist">
[% IF mode != 'filename' %]
<li><a href="[% make_search_url('',"keywords=$keyword_esc",'mode','filename') %]">
[%- g('Search for <em>%s</em> within filenames', keyword_enc) %]</a>
[% END %]

[% IF mode != 'exactfilename' %]
<li><a href="[% make_search_url('',"keywords=$keyword_esc",'mode','exactfilename') %]">
[%- g('Search exact filename <em>%s</em>', keyword_enc) %]</a>
[% END %]

[% IF mode == 'exactfilename' || mode == 'filename' %]
<li><a href="[% make_search_url('',"keywords=$keyword_esc",'mode','') %]">
[%- g('Search for paths ending with <em>%s</em>', keyword_enc) %]</a>
[% END %]
</ul>

<p>[% g('Search in other suite:') %]
[% FOREACH s IN all_suites %]
	[% IF s != suite %]
	[<a href="[% make_search_url('',"keywords=$keyword_esc",'suite',s) %]">[% s  %]</a>]
	[% ELSE %]
	[[% s %]]
	[% END %]
[% END %]

[% UNLESS search_architectures.size == 1 || all_architectures.size == 1 %]
<p>[% g('Limit to a architecture:') %]
[% FOREACH a IN all_architectures %] [<a href="[% make_search_url('',"keywords=$keyword_esc",'arch',a) %]">[% a %]</a>][% END %]
[% END %]

[% IF search_architectures.size == 1 %]
<p>[% g('Search in <a href="%s">all architectures</a>',
	make_search_url('',"keywords=$keyword_esc",'arch','any')) %]
[% END %]

</div>

[%- PROCESS 'html/messages.tmpl' -%]
<div id="pcontentsres">

[% section_wording = ( section_enc == 'all' ? g("all sections") : g("section(s) <em>%s</em>", section_enc) );
   arch_wording = ( architectures_enc == 'any' ? g("all architectures") : g("architecture(s) <em>%s</em>", architectures_enc) );
   wording = g("paths that end with");
   IF mode == 'filename';
	wording = g("filenames that contain");
   ELSIF mode == 'exactfilename';
	wording = g("files named");
   END %]
[%# @translators: I'm really sorry :/ %]
<p>[% g('You have searched for %s <em>%s</em> in suite <em>%s</em>, %s, and %s.',
	wording, keyword_enc, suite, section_wording, arch_wording) %]

[% IF results.size %]
[% g('Found <strong>%u results</strong>.', results.size) %]

[% IF too_many_hits %]
<div class="note">
<p>[% g('Note: Your search was too wide so we will only display only the first about 100 matches. Please consider using a longer keyword or more keywords.') %]</p>
</div>
[% END %]

<table>
	<colgroup>
	<col>
	<col>
	</colgroup>
<tr>
	<th><a title="[% g('Sort results by filename') %]" href="[% make_search_url('',"keywords=$keyword_esc&amp;sort_by=file") %]">
		[%- g('File') %]</a></th>
	<th><a title="[% g('Sort results by package name') %]" href="[% make_search_url('',"keywords=$keyword_esc&amp;sort_by=pkg") %]">
		[%- g('Packages') %]</a></th>
</tr>
[% FOREACH results %]
[% file = html_encode(file);
   FOREACH k IN search_keywords;
   k_enc = html_encode(k);
   k_quo = quotemeta(k);
   file = file.replace("((?i)$k_quo)", '<span class="keyword">$1</span>');
   END %]
<tr>
	<td class="file">[% file %]</td>
        <td>
        [% FOREACH packages %]
	[% arch_str = architectures.join(', ');
	   SET arch_str = g("not %s", arch_str) IF ( arch_str && architectures_are_rev );
	   SET arch_str = " [$arch_str]" IF arch_str;
           pkg_esc = uri_escape(pkg)  %]
	<a href="[% make_url(pkg_esc,'','suite',suite,'arch','') %]">[% pkg | html %]</a>[% arch_str %][% ', ' UNLESS loop.last %]
	[% END %]
        </td>
</tr>
[% END %]

[% IF results.size > 20 %]
<tr><th>[% g('File') %]</th><th>[% g('Packages') %]</th></tr>
[% END %]
</table>
</div>

[% ELSE %]

<p id="psearchnoresult">[% g('Sorry, your search gave no results') %]</p>

[% END %]

[%- PROCESS 'html/foot.tmpl' -%]
