[% PROCESS 'config/archive_layout.tmpl' %]
[% PROCESS 'config/mirrors.tmpl' %]
[%- nav_arr = [ { prefix=>'Distribution:', title=>'Overview over this suite', url=>make_url('/','','source',''), name=>suite }, ];
    nav_arr.push( { title => 'Source packages', url=>make_url('/'), name=>'Source' } ) IF is_source;
    nav_arr.push( { prefix=>'Section:', title=>'All packages in this section', url=>make_url("$subsection/"), name=>subsection } );
    nav_arr.push( { prefix=>'Package:', name=>pkg } ); -%]
[% desclang = 'en';
   SET desclang = lang IF desc.$lang.long %]
[%- PROCESS 'html/head.tmpl'
   title_tag = ( is_source ? "Details of source package $pkg in $suite"
	                   : "Details of package $pkg in $suite" )
   description = desc.$desclang.short
   keywords = "$suite, $archive, $section, $subsection, $version"
   print_search_field = 'packages'
   search_field_values = { 
			  searchon => is_source ? 'sourcenames' : 'names',
                         }
  navigation = nav_arr
-%]
<!-- show.tmpl -->
[% PROCESS 'html/menu.inc' %]
[% FOREACH s IN suites %]
   [% '<div id="pothers">' IF loop.first %]
   [%- IF s == suite -%]
     [% PROCESS menuitem name=s url='' %]
   [%- ELSE -%]
     [% PROCESS menuitem name=s url=make_url(pkg,'','suite',s) %]
   [%- END -%]
   [%- '</div>' IF loop.last -%]
[% END %]

[% IF src %]
<div id="psource">
[% PROCESS menuitem prefix='Source:' title='Source package building this package' url=make_url(src.pkg,'','source','source') name=src.pkg %]
</div>
[% END %]

[%- PROCESS 'html/messages.tmpl' -%]

[% IF is_virtual %]
<h1>Virtual Package: [% pkg %]
[% ELSIF is_source %]
<h1>Source Package: [% pkg %] ([% version %])
[% ELSE %]
<h1>Package: [% pkg %] ([% versions.short %])
[% END %]
[%- PROCESS marker text=archive IF archive && archive != main_archive %]
[%- PROCESS marker text=subsection IF subsection == 'non-US' and archive != 'non-US' %]
[%- PROCESS marker text=section IF section && section != main_section %]
[%- PROCESS marker text='essential' IF page.get_newest('essential') == 'yes' %]</h1>

[% UNLESS is_virtual %]
<div id="pmoreinfo">
<h2>Links for [% pkg %]</h2>
<h3>Debian Resources:</h3>
<ul>
<li><a href="[% (is_source ? src_bugs_url : bugs_url) _ pkg | uri %]">Bug Reports</a></li>

[% IF src.pkg -%]
<li><a href="[% pts_url _ src.pkg | uri %]">Developer Information (PTS)</a></li>
[% ELSIF is_source %]
<li><a href="[% pts_url _ pkg | uri %]">Developer Information (PTS)</a></li>
[%- END %]

[% IF files && (!archive or archive == main_archive or archive == 'security') %]
<li><a href="[% changelogs_url _ files.changelog.path %]">Debian Changelog</a></li>
<li><a href="[% changelogs_url _ files.copyright.path %]">Copyright File</a></li>
[% END %]
</ul>

[% vcs_link = page.get_newest("vcs-browser") %]
[% #FIXME: should this only be used for the PTS?
   known_vcs = [ [ 'cvs', 'CVS', 'cvs' ],
		[ 'svn', 'Subversion', 'subversion' ],
		[ 'bzr', 'bzr', 'bzr' ],
		[ 'darcs', 'Darcs', 'darcs' ],
		[ 'arch', 'arch', 'tla' ],
		[ 'git', 'Git', 'git-core' ],
		[ 'hg', 'Hg', 'mercurial' ], ];
   FOREACH vcs IN known_vcs;
	vcs_id = vcs.0; vcs_name = vcs.1; vcs_pkg = vcs.2;
	vcs_info = page.get_newest("vcs-$vcs_id");
	SET vcs_info = page.get_newest("x-vcs-$vcs_id") UNLESS vcs_info;
	IF vcs_info; %]
<p>Debian Package Repository (<acronym title="Version Control System">VCS</acronym>:
<a href="[% make_url(vcs_pkg,'','source','') %]">[% vcs_name %]</a>):<br> <a href="[% vcs_info %]" class="pvcslink">[% vcs_info %]</a></p>
[% IF vcs_link %]
<p>Debian Package Repository (Browsable):<br> <a href="[% vcs_link %]" class="pvcslink">[% vcs_link %]</a></p>
[% END; END; END %]

[% IF src %]
  <p>Download Source Package <a href="[% src.url %]">[% src.pkg %]</a>:
  [% FOREACH src.downloads %]
    [% '<ul>' IF loop.first %]
    <li><a href="[% server _ path %]">[[% name %]]</a></li>
    [% '</ul>' IF loop.last %]
  [% END %]
  [% IF src.downloads.size == 0 %]
  Not found
  [% END %]
[% END %]

[% IF maintainers.size == 1 -%]
  <h3>Maintainer:</h3>
  [%- FOREACH maintainers -%]
	<a href="mailto:[% mail %]">[% name | html %]</a>
	(<a href="[% ddpo_url _ mail %]" title="An overview over the maintainer's packages and uploads">QA Page</a>)
  [%- END -%]
[%- ELSE -%]
  <h3>Maintainers:</h3>
  [%- FOREACH maintainers -%]
    [%- '<ul>' IF loop.first -%]
	<li><a href="mailto:[% mail %]">[% name | html %]</a>
	(<a href="[% ddpo_url _ mail %]" title="An overview over the maintainer's packages and uploads">QA Page</a>)
	</li>
    [%- '</ul>' IF loop.last -%]
  [%- END -%]
[%- END %]

[% url = page.get_newest('url');
   IF url %]
<h3>External Resources:</h3>
<p>Homepage: <a href="[% url | uri %]">[% url | html %]</a></p>
[% END %]

[% FOREACH sim IN similar %]
	[% IF loop.first %]
	<h3>Similar packages:</h3>
	<ul>
	[% END %]
	<li><a href="/[% sim %]">[% sim %]</a></li>
	[% '</ul>' IF loop.last %]
[% END %]

</div> <!-- end pmoreinfo -->
[% END %]

[% IF suite == "experimental" || subsection == "debian-installer" %]
<div class="pconstantnag">
[% IF suite == "experimental" %]
[% changelog_link = 'changelog';
   changelog_link = "<a href='$changelogs_url$files.changelog.path'>changelog</a>" %] 
<h2>Experimental package</h2>
<p>Warning: This package is from the <strong>experimental</strong> distribution.
That means it is likely unstable or buggy, and it may even cause data loss.
Please be sure to consult the [% changelog_link %] and other possible documentation before
using it.</p>
[% END %]
[% IF subsection == "debian-installer" %]
<h2>debian-installer udeb package</h2>
<p>Warning: This package is intended for the use in building
<a href="http://www.debian.org/devel/debian-installer">debian-installer</a> images only.
Do not install it on a normal Debian system.</p>
[% END %]
</div>
[% END %]

<div id="ptablist">
</div>

[% IF desc %]
<div id="pdesctab">
<div id="pdesc">
[% UNLESS is_virtual %]
	[% IF desc.$desclang.short %]
	<h2>[% desc.$desclang.short %]</h2>
	<p>[% desc.$desclang.long %]
	[% END %]
[% ELSE %]
	<p>This is a <em>virtual package</em>. See the <a href="[% policy_url %]">Debian policy</a> for a <a href="[% policy_url %]ch-binary.html#s-virtual_pkg">definition of virtual packages</a>.</p>
[% END %]
</div> <!-- end pdesc -->

[% FOREACH tag IN tags %]
  [% IF loop.first -%]
    <div id="ptags"><p>
    <a href="[% tags_url %]edit.html?pkg=[% pkg | uri %]">Tags</a>:
  [%- END %]
  [% facet = tag.0;
     facet_name = debtags_voc.$facet;
     tag_id = "$tag.0::$tag.1";
     tag_name = debtags_voc.$tag_id;
   %]
  [% facet_name _ ': ' UNLESS old_facet && facet == old_facet %]
  [% IF tag_name %]
   <a href="/about/debtags#[% string2id(tag_id) %]">[% tag_name %]</a>[% ', ' UNLESS loop.last %]
  [% ELSE %]
  [% tag_id %][% ', ' UNLESS loop.last %]
  [% END %]
  [% old_facet = facet %]
  [% IF loop.last -%]
    </p>
    </div> <!-- end ptags -->
  [%- END %]
[% END %]

[% FOREACH providers %]
  [% IF loop.first %]<div id="pdeps"><h2>Packages providing [% pkg %]</h2><dl>[% END %]
    <dt>[% IF available %]<a href="[% make_url(name,'','source','') %]">[% name %]</a>[% ELSE %][% name %][% END %]</dt>
    <dd>[% desc %]</dd>
  [% '</dl></div>' IF loop.last %]
[% END %]
</div> <!-- pdesctab -->
[% END %]

[% FOREACH binaries %]
  [% IF loop.first %]<div id="pbinaries">The following binary packages are built from this source package:<dl>[% END %]
    <dt>[% IF available %]<a href="[% make_url(name,'','source','') %]">[% name %]</a>[% ELSE %][% name %][% END %]</dt>
    <dd>[% desc %]</dd>    
  [% '</dl></div>' IF loop.last %]
[% END %]

[% FOREACH relations %]
  [% IF loop.first -%]
    <div id="pdeps">
    <h2>Other Packages Related to [% pkg %]</h2>

    <table id="pdeplegend" summary="legend"><tr>
    [% IF is_source %]
    <td><img src="/Pics/adep.gif" alt="[adep]" width="16" height="16">= build-depends</td>
    <td><img src="/Pics/idep.gif" alt="[idep]" width="16" height="16">= build-depends-indep</td>
    [% ELSE %]
    <td><img src="/Pics/dep.gif" alt="[dep]" width="16" height="16">= depends</td>
    <td><img src="/Pics/rec.gif" alt="[rec]" width="16" height="16">= recommends</td>
    <td><img src="/Pics/sug.gif" alt="[sug]" width="16" height="16">= suggests</td>
    [% END %]
    </tr></table>
  [%- END %]

  <ul class="ul[% id %]">
  [% FOREACH terms %]
    [% '<li>' UNLESS is_old_pkgs %]
    [% FOREACH alternatives %]
      [% '<dl>' IF loop.first %]
      <dt>[% IF loop.first %]<img class="hidecss" src="/Pics/[% id %].gif" alt="[[% id %]]">[% ELSE %]or [% END %]
	[% IF suite %]<a href="[% make_url(name,'','suite',suite,'source','') %]">[% name %]</a>[% ELSE %][% name %][% END %]
	[% ' (' _ version _ ')' IF version %]
        [% ' [' _ arch_str _ ']' IF arch_str %]</dt>
      [%- IF !is_old_pkgs -%]
        <dd>[% desc -%]
        [%- IF providers.pkgs.size > 0 -%]
          [% '<br>also a ' IF providers.also %]virtual package provided by
	  [% js_id = name %]
	    <span id="js_[% js_id %]" class="p_js_elem"></span> <span id="html_[% js_id %]">[% FOREACH provider IN providers.pkgs %]<a href="[% make_url(provider,'','suite',suite,'source','') %]">[% provider %]</a>[% ', ' UNLESS loop.last %][% END %]</span>
	[% IF providers.pkgs.size > 10 %]
	<script type="text/javascript">init_toggle_elem("[% js_id %]","[% providers.pkgs.size %] providing packages")</script>
	[% END %]
        [% END %]
        </dd>
      [% END %]
      [% '</dl>' IF loop.last %]
    [% END %]
  [% END %]
  </ul>

  [% IF loop.last -%]
    </div> <!-- end pdeps -->
  [%- END %]
[% END %]

[% FOREACH d IN downloads %]
  [% IF loop.first -%]
    <div id="pdownload">
    <h2>Download [% pkg %]</h2>
    
    <table summary="The download table links to the download of the package and a file overview. In addition it gives information about the package size and the installed size.">
    <caption class="hidecss">Download for all available architectures</caption>
    <tr><th>Architecture</th>[% '<th>Version</th>' IF versions.multiple %]<th>Package Size</th><th>Installed Size</th><th>Files</th></tr>
  [%- END %]

<tr>
[% download_url = pkg _ '/' _ d.arch _ '/download'
   filelist_url = pkg _ '/' _ d.arch _ '/filelist' %]
<th><a href="[% make_url(download_url) | uri %]">[% d.arch %]</a>
[%- SET a = d.archive; IF mirrors.$a.unofficial_port  %] <strong>(unofficial port)</strong>[% END %]</th>
[% vnorm = d.version.replace( '\+b\d+$', '' ); vlatest = version.replace( '\+b\d+$', '' );
   vup = vnorm.replace( '-[^-]+$', '' ); vuplatest = vlatest.replace( '-[^-]+$', '' );
   IF vnorm == vlatest;
	version_class = 'vcurrent';
   ELSIF vup == vuplatest;
	version_class = 'volder';
   ELSE;
	version_class = 'vold';
   END %]
[% "<td class='$version_class'>$d.version</td>" IF versions.multiple %]
<td class="size">[% d.pkgsize %]&nbsp;kB</td><td class="size">[% d.instsize %]&nbsp;kB</td>
<td>
[% IF d.contents_avail %]
  [<a href="[% make_url(filelist_url) | uri %]">list of files</a>]
[% ELSE %]
  no current information
[% END %]
</td>
</tr>

  [% IF loop.last -%]
    </table>

    </div> <!-- end pdownload -->
  [%- END %]
[% END %]

[% FOREACH srcfiles %]
  [% IF loop.first -%]
    <div id="pdownload">
    <h2>Download [% pkg %]</h2>
    
    <table summary="Download information for the files of this source package">
    <tr><th>File</th><th>Size (in kB)</th><th>md5sum</th></tr>
  [%- END %]

<tr>
<td><a href="[% server _ path %]">[% filename %]</a></td>
<td>[% size %]</td>
<td class="md5sum">[% md5sum %]</td>
</tr>

  [% IF loop.last -%]
    </table>

    </div> <!-- end pdownload -->
  [%- END %]
[% END %]

<script type="text/javascript">init_tab_list("ptablist")</script>

[%- PROCESS 'html/foot.tmpl' -%]
