[% nav_arr = [ { name=> suite, url=>make_url('/','','suite',suite) } ];
   nav_arr.push( { name => g('Source') } ) IF source;
   nav_arr.push( { name => g('Index') } );
   PROCESS 'html/head.tmpl' 
	title_tag = g('List of sections in "%s"', suite)
	keywords = suite
	navigation = nav_arr
%]
[% PROCESS 'html/util.inc' %]
[% FOREACH s IN suites %]
   [% '<div id="pothers">' IF loop.first %]
   [%- IF s == suite -%]
     [% PROCESS menuitem name=s url='' %]
   [%- ELSE -%]
     [% PROCESS menuitem name=s url=make_url('/','','suite',s,'source',source) %]
   [%- END -%]
   [%- '</div>' IF loop.last -%]
[% END %]

<h1>[% g('List of sections in "%s"', suite) %]</h1>

[% FOREACH subsections %]
  [% '<div id="lefthalfcol"><dl>' IF loop.first %]
  
  <dt><a href="[% id %]/">[% name %]</a></dt>
  <dd>[% desc %]</dd>

  [%- loop_half = loop.size / 2 -%]
  [%- IF ( loop.count <= loop_half ) && ( loop.count >= ( loop_half - 1 ) ) -%]
  </dl>
  </div> <!-- end lefthalfcol -->
  <div id="righthalfcol">
  <dl>
  [%- END -%]
  [% '</dl></div>' IF loop.last %]
[% END %]

[% link_title = is_source ? g('List of all source packages')
			  : g('List of all packages');
   link_text = is_source ? g('All source packages')
			 : g('All packages');
-%]
<p class="psmallcenter">
	<a href="allpackages" title="[% link_title %]">[% link_text %]</a><br>
	(<a href="allpackages?format=txt.gz">[% g('compact compressed textlist') %]</a>)
</p>

[%- PROCESS 'html/foot.tmpl' -%]
