[%
# list of architectures
architectures = {
        i386    => g('Intel x86'),
        m68k    => g('Motorola 680x0'),
        sparc   => g('SPARC'),
        alpha   => g('Alpha'),
        powerpc => g('PowerPC'),
        arm     => g('ARM'),
        hppa    => g('HP PA-RISC'),
        ia64    => g('Intel IA-64'),
        mips    => g('MIPS (big-endian)'),
        mipsel  => g('MIPS (little-endian)'),
        s390    => g('IBM S/390'),
	"hurd-i386" => g('Hurd (i386)'),
	amd64   => g('AMD64'),
	armel   => g('EABI ARM'),
	"kfreebsd-i386" => g('GNU/kFreeBSD (i386)'),
	"kfreebsd-amd64" => g('GNU/kFreeBSD (amd64)'),
}

%]
