[%
   main_section = 'main'
   main_archive = 'us'
   standard_priority = 'optional'

   suite_aliases = {
		squeeze => 'oldoldstable',
		wheezy => 'oldstable',
		jessie => 'stable',
		stretch => 'testing',
		sid => 'unstable',
		experimental => 'rc-buggy',
		   }

   section_titles = {
                main => g('packages that meet the Debian Free Software Guidelines'),
                contrib => g('packages that meet the Debian Free Software Guidelines but need software not in Debian main'),
                'non-free' => g('packages that do not meet the Debian Free Software Guidelines'),
        }

   section_urls = {
                main => 'http://www.debian.org/doc/debian-policy/ch-archive.html#s-main',
                contrib => 'http://www.debian.org/doc/debian-policy/ch-archive.html#s-contrib',
                'non-free' => 'http://www.debian.org/doc/debian-policy/ch-archive.html#s-non-free',
        }

%]
