[%
   main_section = 'main'
   main_archive = 'us'
   standard_priority = 'optional'

   section_titles = {
		main => g('Canonical supported Open Source software'),
		universe => g('Community maintained open source software'),
		multiverse => g('Software restricted by copyright or legal issues'),
		restricted => g('Proprietary drivers for devices'),
        }

   section_urls = {
        }

%]
