[%
   main_section = 'main'
   main_archive = 'us'
   standard_priority = 'optional'

   suite_aliases = {
		sarge => 'oldstable', 
		etch => 'stable',
		lenny => 'testing',
		sid => 'unstable',
		   }
%]
