[%

# TODO: find a way to get the U.S. mirror list from a more authoritive
# location automatically. might not be overly smart to automatize it
# completely, since I hand pick sites that are up-to-date, fast, and
# have HTTP on a reasonably short URL
#   -- Joy

# hint:
# grep-dctrl -F Site,Alias -e '(udel|bigfoot|kernel|crosslink|internap|cerias|lcs.mit|progeny)' Mirrors.masterlist | timestamps/archive_mirror_check.py
 
mirrors = {
	us => {
		url => 'http://www.debian.org/',
		mirror_list => 'http://www.debian.org/mirror/list',
		north_america => [
			"ftp.us.debian.org/debian",
			"http.us.debian.org/debian",
#only amd64,i386	"ftp.debian.org/debian",
			"ftp.ca.debian.org/debian",
			"ftp.mx.debian.org/debian",
			"ftp.egr.msu.edu/debian",
			"mirrors.kernel.org/debian",
			"ftp-mirror.internap.com/pub/debian",
#only some arches	"ftp.cerias.purdue.edu/pub/os/debian",
			"debian.lcs.mit.edu/debian",
			"debian.oregonstate.edu/debian",
		],
		europa => [
			"ftp.de.debian.org/debian",
			"ftp.at.debian.org/debian",
			"ftp.bg.debian.org/debian",
			"ftp.ch.debian.org/debian",
			"ftp.cz.debian.org/debian",
			"ftp.dk.debian.org/debian",
			"ftp.ee.debian.org/debian",
			"ftp.es.debian.org/debian",
			"ftp.fi.debian.org/debian",
			"ftp.fr.debian.org/debian",
			"ftp.hr.debian.org/debian",
			"ftp.hu.debian.org/debian",
			"ftp.ie.debian.org/debian",
			"ftp.is.debian.org/debian",
			"ftp.it.debian.org/debian",
			"ftp.lt.debian.org/debian",
			"ftp.nl.debian.org/debian",
#only some arches	"ftp.no.debian.org/debian",
			"ftp.pl.debian.org/debian",
			"ftp.ro.debian.org/debian",
			"ftp.ru.debian.org/debian",
			"ftp.se.debian.org/debian",
#only some arches	"ftp.si.debian.org/debian",
			"ftp.tr.debian.org/debian",
			"ftp.uk.debian.org/debian",
		],
		south_america => [
			"ftp.br.debian.org/debian",
			"ftp.cl.debian.org/debian",
			"download.unesp.br/linux/debian",
			"sft.if.usp.br/debian",
#not reachable		"debian.unesr.edu.ve/debian",
			"debian.torredehanoi.org/debian",
		],
		oceania => [
			"ftp.au.debian.org/debian",
			"ftp.wa.au.debian.org/debian",
			"ftp.nz.debian.org/debian",
			"mirror.pacific.net.au/debian",
			"ftp.iinet.net.au/debian/debian",
			"mirror.optus.net/debian",
		],
		asia => [
			"ftp.jp.debian.org/debian",
			"ftp2.jp.debian.org/debian",
			"ftp.kr.debian.org/debian",
#only some arches	"ftp.hk.debian.org/debian",
			"ftp.tw.debian.org/debian",
			"debian.nctu.edu.tw/debian",
			"debian.linux.org.tw/debian",
			"linux.cdpa.nsysu.edu.tw/debian",
			"ftp.nara.wide.ad.jp/debian",
			"mirrors.geekbone.org/debian",
			"ftp.yz.yamagata-u.ac.jp/debian",
			"debian.thaios.net/debian",
			"www.anheng.com.cn/debian",
			"ftp.daum.net/debian",
		],
		africa => [
			"debian.mirror.ac.za/debian",
		],
	},

	volatile => {
		url => 'http://www.debian.org/volatile/',
		title => g('volatile packages that need major changes during the life of a stable release'),
		mirror_list => 'http://www.debian.org/volatile/volatile-mirrors',
		europa => [
			"volatile.debian.org/debian-volatile",
			"ftp.at.debian.org/debian-volatile",
			"ftp.be.debian.org/debian-volatile",
			"ftp.ch.debian.org/debian-volatile",
			"ftp.de.debian.org/debian-volatile",
			"ftp2.de.debian.org/debian-volatile",
			"ftp.ee.debian.org/debian-volatile",
			"ftp.fi.debian.org/debian-volatile",
			"ftp.gr.debian.org/debian-volatile",
			"ftp.nl.debian.org/debian-volatile",
			"ftp.ru.debian.org/debian-volatile",
			"ftp.sk.debian.org/debian-volatile",
			"ftp.ua.debian.org/debian-volatile",
			"ftp.uk.debian.org/debian-volatile",
		],
		north_america => [
			"mirror.csclub.uwaterloo.ca/debian-volatile",
			"ftp3.nrc.ca/debian-volatile",
			"gulus.usherbrooke.ca/debian-volatile",
		],
		south_america => [
			"ftp.br.debian.org/debian-volatile",
			"ftp.cl.debian.org/debian-volatile",
			"sft.if.usp.br/debian-volatile",
		],
		asia => [
			"ftp2.jp.debian.org/debian-volatile",
			"ftp.tw.debian.org/debian-volatile",
			"mirror.unej.ac.id/debian-volatile",
			"mirrors.geekbone.org/debian-volatile",
		],
		oceania => [
			"ftp.nz.debian.org/debian-volatile",
		],
	},

	backports => {
		url => 'http://backports.debian.org/',
		title => g('newer packages that have been adapted to stable releases of Debian'),
		mirror_list => 'http://www.backports.org/debian/README.mirrors.html',
		europa => [
			"backports.debian.org/debian-backports",
			"ftp.at.debian.org/debian-backports/",
		    	"backports.debian.or.at/debian-backports",
		       	"mirror.realroute.net/debian-backports",
			"backports.cisbg.com",
			"debian.netcologne.de/debian-backports",
			"ftp.de.debian.org/debian-backports",
			"mirror.buildd.net/debian-backports",
			"ftp.estpak.ee/backports.org",
			"debian.acantho.net/backports.org",
			"backports.essentkabel.com/backports.org",
			"backports.sipo.nl",
		],
		asia => [
			"backports.mithril-linux.org",
		],
		oceania => [
			"mirror.linux.org.au/backports.org",
			"mirror.pacific.net.au/linux/debian-backports",
		],
	},

	debports => {
		url => 'http://www.debian-ports.org/',
		title => g('ports of packages to architectures not yet or not anymore available in Debian'),
		mirror_list => 'http://wiki.debian.org/DebianPorts/Mirrors',
		unofficial_port => {
			alpha => {
				url_name => 'alpha',
				name => 'Alpha',
			},
			avr32 => {
				url => 'http://avr32.debian.net/',
				name => 'AVR32',
			},
			hppa => {
				url_name => 'hppa',
				name => 'HPPA',
			},
			m68k => {
				url_name => 'm68k',
				name => 'M68K',
			},
			powerpcspe => {
				url => 'http://wiki.debian.org/PowerPCSPEPort',
				name => 'PowerPCSPE',
			},
			sh4 => {
				url => 'http://wiki.debian.org/SH4',
				name => 'SH4',
			},
			sparc64 => {
				url => 'http://wiki.debian.org/Sparc64',
				name => 'Sparc64',
			},
		},
		north_america => [
			"www.gtlib.gatech.edu/pub/gnuab/debian",
		],
		europa => [
			"ftp.debian-ports.org/debian",
			"ftp.de.debian.org/debian-ports",
			"ftp.ch.debian.org/debian-ports",
		],
		asia => [
			"debian.nctu.edu.tw/debian-ports",
		],
	},
}

ports_url = 'http://www.debian.org/ports/'

continents = {
		north_america => g('North America'),
		south_america => g('South America'),
		asia          => g('Asia'),
		oceania       => g('Oceania'),
		europa        => g('Europe'),
		africa        => g('Africa'),
	}
%]
