[%

# TODO: find a way to get the U.S. mirror list from a more authoritive
# location automatically. might not be overly smart to automatize it
# completely, since I hand pick sites that are up-to-date, fast, and
# have HTTP on a reasonably short URL
#   -- Joy

# hint:
# grep-dctrl -F Site,Alias -e '(udel|bigfoot|kernel|crosslink|internap|cerias|lcs.mit|progeny)' Mirrors.masterlist | timestamps/archive_mirror_check.py
 
mirrors = {
	us => {
		url => 'http://www.debian.org/',
		mirror_list => 'http://www.debian.org/distrib/archive',
		north_america => [
			"ftp.egr.msu.edu/debian-archive",
			"ftp3.nrc.ca/debian-archive",
		],
		europa => [
			"archive.debian.org/debian",
			"ftp.de.debian.org/archive/debian",
			"ftp.ch.debian.org/debian-archive",
			"ftp.nl.debian.org/debian-archive",
			"debian.dynamica.it/debian-archive",
			"debian.org.ua/debian-archive",
			"ftp2.debian.org.ua/debian-archive",
#			"ftp.irb.hr/debian-archive",
			"webb.ens-cachan.fr/ftp/debian-archive",
		],
		asia => [
			"ftp.kr.debian.org/debian-archive",
#			"ftp.twaren.net/Linux/Debian/debian-archive",
		],
	},
	volatile => {
		url => 'http://www.debian.org/volatile/',
		title => g('volatile packages that need major changes during the life of a stable release'),
		europa => [
			"archive.debian.org/debian-volatile",
		],
	},
	backports => {
		url => 'http://backports.debian.org/',
		title => g('newer packages that have been adapted to stable releases of Debian'),
		europa => [
			"archive.debian.org/backports.org",
		],
	},
}

continents = {
		north_america => g('North America'),
		south_america => g('South America'),
		asia          => g('Asia'),
		oceania       => g('Oceania'),
		europa        => g('Europe'),
		africa        => g('Africa'),
	}
%]
