[%

# TODO: find a way to get the U.S. mirror list from a more authoritive
# location automatically. might not be overly smart to automatize it
# completely, since I hand pick sites that are up-to-date, fast, and
# have HTTP on a reasonably short URL
#   -- Joy

# hint:
# grep-dctrl -F Site,Alias -e '(udel|bigfoot|kernel|crosslink|internap|cerias|lcs.mit|progeny)' Mirrors.masterlist | timestamps/archive_mirror_check.py
 
mirrors = {
	us => {
		mirror_list => 'http://www.debian.org/mirror/list',
		north_america => [
#only amd64,i386			"ftp.us.debian.org/debian",
			"http.us.debian.org/debian",
#only amd64,i386			"ftp.debian.org/debian",
			"ftp.egr.msu.edu/debian",
			"mirrors.kernel.org/debian",
#not amd64			"ftp-mirror.internap.com/pub/debian",
#only amd64,i386			"ftp.cerias.purdue.edu/pub/os/debian",
			"debian.lcs.mit.edu/debian",
			"debian.oregonstate.edu/debian",
		],
		europa => [
			"ftp.de.debian.org/debian",
			"ftp.at.debian.org/debian",
#no amd64			"ftp.bg.debian.org/debian",
			"ftp.ch.debian.org/debian",
			"ftp.cz.debian.org/debian",
			"ftp.dk.debian.org/debian",
			"ftp.ee.debian.org/debian",
			"ftp.es.debian.org/debian",
			"ftp.fi.debian.org/debian",
			"ftp.fr.debian.org/debian",
			"ftp.hr.debian.org/debian",
			"ftp.hu.debian.org/debian",
			"ftp.ie.debian.org/debian",
			"ftp.is.debian.org/debian",
			"ftp.it.debian.org/debian",
			"ftp.nl.debian.org/debian",
			"ftp.no.debian.org/debian",
			"ftp.pl.debian.org/debian",
#only amd64,i386			"ftp.ru.debian.org/debian",
			"ftp.se.debian.org/debian",
#only some arches			"ftp.si.debian.org/debian",
			"ftp.tr.debian.org/debian",
			"ftp.uk.debian.org/debian",
		],
		south_america => [
			"ftp.br.debian.org/debian",
			"ftp.cl.debian.org/debian",
		],
		australia => [
			"ftp.au.debian.org/debian",
			"ftp.wa.au.debian.org/debian",
			"ftp.nz.debian.org/debian",
		],
		asia => [
			"ftp.jp.debian.org/debian",
			"ftp2.jp.debian.org/debian",
			"ftp.kr.debian.org/debian",
#no amd64			"ftp.hk.debian.org/debian",
			"ftp.tw.debian.org/debian",
#only amd64,i386			"linux.csie.nctu.edu.tw/debian",
			"debian.linux.org.tw/debian",
			"linux.cdpa.nsysu.edu.tw/debian",
		],
	},

	volatile => {
		title => g('volatile packages that need major changes during the life of a stable release'),
		mirror_list => 'http://www.debian.org/devel/debian-volatile/volatile-mirrors',
		europa => [
			"volatile.debian.net/debian-volatile",
			"ftp2.de.debian.org/debian-volatile",
			"ftp.sk.debian.org/debian-volatile",
		],
		north_america => [
			"mirror.csclub.uwaterloo.ca/debian-volatile",
		],
		south_america => [
			"sft.if.usp.br/debian-volatile",
		],
		asia => [
			"ftp2.jp.debian.org/debian-volatile",
		],
		australia => [
			"ftp.nz.debian.org/debian-volatile",
		],
	},

	backports => {
		title => g('newer packages that have been adapted to stable releases of Debian'),
		mirror_list => 'http://www.backports.org/debian/README.mirrors.html',
		europa => [
			"www.backports.org/debian",
			"debian.sil.at/backports.org/",
		    	"backports.debian.or.at/backports.org",
		       	"mirror.realroute.net/backports.org",
			"backports.cisbg.com",
			"backports.linuxdediziert.de/backports.org",
			"debian.netcologne.de/debian-backports",
			"ftp.de.debian.org/backports.org",
			"mirror.buildd.net/backports.org",
			"ftp.estpak.ee/backports.org",
			"debian.acantho.net/backports.org",
			"backports.essentkabel.com/backports.org",
			"backports.sipo.nl",
			"ftp.tuke.sk",
		],
		asia => [
			"backports.mithril-linux.org",
		],
		australia => [
			"mirror.linux.org.au/backports.org",
			"mirror.pacific.net.au/linux/debian-backports",
		],
	},

	debports => {
		title => g('ports of packages to architectures not yet available in Debian'),
		mirror_list => 'http://wiki.debian.org/DebianPorts/Mirrors',
		unofficial_port => {
			'kfreebsd-amd64' => {
				url_name => 'kfreebsd-gnu',
				name => 'GNU/kFreeBSD',
			},
			'kfreebsd-i386' => {
				url_name => 'kfreebsd-gnu',
				name => 'GNU/kFreeBSD',
			},
		},
		north_america => [
			"www.gtlib.gatech.edu/pub/gnuab/debian",
			"www.superunprivileged.org/debian",
		],
		europa => [
			"ftp.debian-ports.org/debian",
			"ftp.de.debian.org/debian-ports",
			"ftp.ch.debian.org/debian-ports",
			"ftp.easynet.be/ftp/gnuab/debian",
		],
	},
}

ports_url = 'http://www.debian.org/ports/'

continents = {
		north_america => g('North America'),
		south_america => g('South America'),
		asia          => g('Asia'),
		australia     => g('Australia and New Zealand'),
		europa        => g('Europe'),
		africa        => g('Africa'),
	}
%]
