Source: packages
Build-Depends: rsync, dpkg-dev, procmail,
 gettext, liblocale-gettext-perl, locales | locales-all, libi18n-acceptlanguage-perl,
 libcompress-zlib-perl, libhtml-parser-perl, libio-stringy-perl,
 libmldbm-perl, libtext-iconv-perl, libhtml-template-perl,
 libclass-accessor-perl, liburi-perl, libxml-rss-perl, libtemplate-perl,
 liblingua-stem-perl

Package: packages
