Source: packages
Build-Depends: rsync, dpkg-dev, procmail, gettext,
 liblocale-maketext-lexicon-perl, libi18n-acceptlanguage-perl, libnumber-format-perl,
 libcompress-zlib-perl, libhtml-parser-perl, libio-stringy-perl,
 libmldbm-perl, libtext-iconv-perl, libhtml-template-perl,
 libclass-accessor-perl, liburi-perl, libxml-rss-perl, libtemplate-perl,
 liblingua-stem-perl, libsearch-xapian-perl, wget

Package: packages
Architecture: all
