/*
 *      www.debian.org stylesheet proposal
 *
 *      Kalle Soderman, 2008 debian.css
 *
 *      Copyleft : This work is free, you can copy, spread, and modify it under
 *      the terms of the Free Art License http://artlibre.org/licence/lal/en/
 *
 *
 *      Font size table
 *      ---------------
 *      Browser default 16px
 *
 *      14px	87.5%		body	
 *      24px	1.714em
 *      18px	1.286em
 *      16px	1.143em
 *      12px	0.857em
 *      11px	0.786em
 *      8px 	0.57em
 */

html {
	background-color: transparent;
}

body {
	margin: 0;
	font: normal 87.5% sans-serif;
	line-height: 1.6;
	color: black;
	background-color: white;
}

#outer {
	margin: 0 10px 0 62px;
}

/*
 * 	Header
 */

#header {
	margin:0;
	padding:0 10px 0 62px;
	font-size: 1em;
	background-image:url('Pics/gradient.png');
	background-position: 0 0;
	background-repeat: repeat-x;
}

#header a:link
, #second-nav a:link {
	text-decoration: none;
}

#header a:hover
, #second-nav a:hover {
	text-decoration: underline;
}

#breadcrumbs {
	font-size: 0.786em;
	background-color: transparent;
	background-color: #f5f6f7;
	margin:0;	
	padding: 6px 0.25em 7px  0.25em;
	border-bottom: 1px solid #d2d3d7 ;
	text-transform:lowercase;
	line-height: 1;
}

p.section {
	font-family:monospace;
	position:absolute;
	top: 0px;
	left:62px;
	text-transform: uppercase;
	letter-spacing: 0.08em;
	background-color: #c70036;
	line-height: 16px;
	color:white;
	padding: 0 5px 0 5px;
	margin:0;
	font-size: 1em;
}

#navbar {
	background-color: transparent;
	list-style:none;
	display:block;
	border-bottom:1px solid #c70036;
	text-indent:0;
	padding: 0;
	margin-top:0;
	margin-bottom:0;
	line-height:1;
}

#navbar ul {
	margin:0 ;
	padding:0 ;
	height: 54px;
	clear: both;
	overflow: hidden;
}

#navbar li {
	list-style: none;
	float: left;
	padding: 0;
	margin: 0;
	font-size: 1em;
}

#navbar a:link
, #navbar a:visited {
	padding: 30px 1em 10px 1em;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	display: block;
}

#navbar a:visited {
	color: #54638c;
}

#navbar a:hover
, #navbar a:visited:hover {
	background-color: #efefef;
	border-left: 1px solid  #d2d3d7;
	border-right: 1px solid #d2d3d7;
}

#sitetools {
	text-align:left;
	margin: 0 10px 0 0;
	padding: 0px 0 1px 0;
	position: absolute;
	top:0;
	right:0;
	border-right: 1px solid white;
	border-left: 1px solid #d2d3d7;
	line-height: 1;
}

#upperheader {
	margin:0;
	padding:0;
}

#logo {
	position:absolute;
	top:0;
	left:0;
	padding: 0;
	background-color: transparent;
	border: 1px solid transparent;
	border-top: 0;
}

#logo a {
	display: block;
	height:71px;
	padding: 8px 5px 0 5px;
}

#logo img {
	margin-top: 5px;
}

#logo:hover {
	border: 1px solid #d2d3d7 ;
	border-top: 0;
	background-color: #eee;
}

/*
 * 	Links
 */

a:link	{
	color: #0035c7;
	text-decoration: underline;
}

a:visited {
	color: #54638c;
}

a:hover {
	text-decoration: none;
	color: #00207a;
}

a:active {
	color:#c2c3c7;
}

a img {
	border:0;
}

/*
 *	Leftcol (Should be renamed secondnav)
 */

#second-nav {
	width: 16em;
	float:right;
	padding:0 0 0 1em;
	margin: 1em 0 10px 1em;
	border-left:1px solid #d3d6df;
	font-size: 0.786em;
	line-height: 1.5;
}

#second-nav ul {
	padding:0;
	margin:0;
	list-style:none;
}

#second-nav ul ul {
	margin-left: 1em;
}

#second-nav li {
	font-weight: normal;
	margin-top:0.5em;
}

#second-nav p {
	line-height: 1;
	font-weight: bold;
}

#second-nav h2 {
	margin:0;
}


/*
 *	Typography
 */

p {
	margin: 0 0 1em 0;
}

h1
, h2
, h3
, h4 {
	font-weight: 600;
	margin-bottom: 0.5em;
	margin-top: 1em;
}

h1 {
	line-height: 1em;
}

h4 {
	font-size: 1em;
	font-weight: normal;
	font-style: italic;
}

h3 {
	font-size: 1em;
}

h2 {
	font-size: 1.143em;
}

ol,ul {
	padding-left: 2em;
	margin-left:0;
}

hr {
	border: none;
	background-color: #bbb;
	height: 1px;
}

.hidecss {
	display: none;
}

pre {
	overflow: auto;
}

dd {
	margin-left: 2em;
	margin-bottom: 1em;
}

.toc {
	font-size: 0.8em;
	list-style:none;
	margin: 1em 0 1em 0;
	background-image: url('Pics/greydot.png');
	background-position: bottom left;
	background-repeat: repeat-x;
	line-height:1.5;
	padding: 0;
	max-width: 67%;
}

.toc li {
	background-image: url('Pics/greydot.png');
	background-position: top left;
	background-repeat: repeat-x;
	padding: 0.25em 0 0.25em 0;
 }

.toc a {
	display:block;
}

.toc a:hover {
	display:block;
	background-color: #f0f0f4;
}

/*
 *	Sitemap 
 */

.card {
	clear:both;
	margin:2em 0 2em 0;
	background-position: 0 -50px;
	background-repeat: repeat-x;
	padding:8px 0 8px 0;
}

.card ul {
	margin:0.5em 0 1em 0;
}

.card ul li {
	list-style:none;
}

.card h2 {
	margin:0;
}

.lefthalf {
	float:left;
}

.righthalf {
	margin-left:50%;
}

.lefthalf ul {
	margin-top:0;
}

/*
 * 	Footer
 */

#footer {
	font-size: 0.786em;
	border: 1px solid #dfdfe0;
	border-bottom: 0;
	padding:1em;
	background-color: #f2f3f6;
	margin: 0 0 0 0;
}

#footer hr {
	border-top: 1px solid #d2d3d7;
	border-bottom: 1px solid white;
	height: 0;
}

#footer .editbar li {
	display: inline;
	margin-right: 2em;
}

#footer .info {
	font-size: 1em;
}

#fineprint {
	margin-bottom: 1em;
}

#footermap {
	list-style:none;
	margin: 0 0 0 0;
	padding: 0;
	width:100%;
	font-size: 11px;
	overflow: hidden;
	line-height: 1.6;
	border: 0;
}

ul#footermap-cola a
, ul#footermap-colb a
, ul#footermap-colc a
, ul#footermap-cold a
, ul#footermap-cole a {
	padding-left: 0;
}

ul#footermap-cola
, ul#footermap-colb
, ul#footermap-colc
, ul#footermap-cold
, ul#footermap-cole {
	float:left;
	width: 19%;
	min-width: 11em;
	height: 12em; /* Update when adding items */
	margin:0 1% 0 0;
	padding: 10px 0 0 0;
	list-style: none;
}

ul#footermap-cole {
	width: 18.9%;
	margin-right:0;
}

#footermap-wrap {
	padding:1em;
	border-top: 1px solid white;
}

#footermap a {
	margin: 0;
}

#footermap ul{
	list-style: none;
	padding:0;
}

#footermap li {
	text-indent:0;
	background-color: transparent;
	font-weight:bold;
	margin-top: 0.5em;
}

#footermap li ul {
	margin: 0;
	padding: 0:
}

#footermap li li {
	margin:0;
	text-indent:0;
	padding:0;
	font-weight:normal;
	line-height: 1.5;
	border:0;
	background-image:none;
	background-color:transparent;
}

#sitetools form {
	margin:0;
	padding:0;
}

#sitetools input {
	margin: 0 0 0 0.25em;
	padding-left: 4px;
	font-size: 0.786em;
	padding-right: 4px;
}

#sitetools select {
	font-size: 0.786em;
	margin-left: 0.5em;
}

#sitetools form p {
	display: inline;
	line-height: 1;
	margin:0;
	padding:0;
	font-size: 0.786em;
}

.sitetool a {
	margin: 0.5em 0 0.5em 1em;
	padding: 0 0 0 0;
	float: left;
}

.sitetool {
	margin:0;
	padding: 2px 5px 2px 5px;
	border-left: 1px solid white;
	border-right: 1px solid #d2d3d7;
	display:block;
	float:left;
}

#serverselect input
, #serverselect option 
, #serverselect select {
	font-size: 11px;
}

#serverselect ul {
	display: inline;
	margin-left: 2em;
}

#serverselect li {
	list-style: none;
	display: inline;
	padding:0 1em 0 1em;
	margin:0;
}

#serverselect form p {
	margin:0;
	padding:0;
	line-height: 1;
}



.lcol50 {
	float: left;
	width: 49%;
	font-size:0.8em;
	margin:0 0 0 0;
	padding:0 0.5em 0 0;
}

.lcol50 h2 {
	margin-top:0;
}

.rcol50 {
	margin:0 0 0 51%;
	padding:0;
	font-size:0.8em;
}

/*
 *	Extras
 */

.clear {
	clear:both
}

#clear {
	clear:both;
	border:0;
	height:1px;
	display:block;
 }

.quicklist:before {
	content: "Quick Links: ";
	font-weight: bold;
}

.quicklist {
	list-style: none;
	font-size: 0.8em;
	margin:0;
	padding:0;
	text-indent:0;
}

.quicklist li  {
	display:inline;
}

.item p{
	margin: 0;
}

.item h2
, .item p
, .item ul{
	margin-right: 10px 
}

.col50 {
	width:50%;
	float: left;
}

.lastcol {
	margin: auto;
	width: 50%;
	float:left;
}

.lastcol h2
, .lastcol p
, .lastcol ul {
	margin-left:  10px;
	margin-right:0;
}

.line {
	clear: both;
	display: block;
	margin: 0 0 2em 0;
	padding: 0;
	width: auto;
	overflow: hidden;
}

.cardleft {
	width:50%;
	float: left;
}

.cardright {
	margin: auto;
	width: 50%;
	float:left;
}

.cardleft div 
, .cardleft h2 {
	margin-right: 0.5em;
}

.cardright div
, .cardight h2 {
	margin-left: 0.5em;
}

ul.votemenu {
	font-size: 0.8em;
	list-style:none;
	margin: 1em 0 1em 0;
	background-image: url('Pics/greydot.png');
	background-position: bottom left;
	background-repeat: repeat-x;
	line-height:1.5;
	padding: 0;
	max-width: 67%;
}

.votemenu li {
	background-image: url('Pics/greydot.png');
	background-position: top left;
	background-repeat: repeat-x;
	padding: 0.25em 0 0.25em 0;
 }

.votemenu a {
	display:block;
}

.votemenu a:hover {
	display:block;
	background-color: #f0f0f4;
}
