html, body {
	color: #000000;
	background-color: #FFFFFF;
	margin: 0 4px 0 4px;
	padding: 0;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	/* min-width: 440px - commented out due to mozilla problems*/
}
/* direction directive reverses the navbar, too */
/* html[lang|=ar] {
      direction: rtl !important;
      text-align: right !important;
} */

img { border: 0; }

h1 { text-align: center; }

acronym {
	border-bottom: 1px dotted #000000;
}

hr.hidecss {
	border: 0;
}
.hidecss {
        display: none;
}

hr {
	border-bottom: 0;
	border-top: 1px solid #BFC3DC;
}

/* the rest of page out of two nested boxes around */

#outer {
	background-color: #FFFFFF;
	width: auto;
	/* border:solid white 2px; */
}

#inner {
	margin: -2px;
	margin-top: 0;
	width: 100%;
	background: #FFFFFF;
	/* overflow: auto; */
}

#lefthalfcol {
	float: left;
	margin-left: 0em;
	width: 49%;
}

#lefthalfcol dl {
	margin-top: 0em;
}

#righthalfcol {
	margin-left: 50%;
	width: 50%;
}

#righthalfcol dl {
	margin-right: 0.2em;
}


#footer {
	clear: both;
	width: 100%;
	padding-top: 3px;
	bottom: 0;
	text-align: center;
	margin: 1em 0 0 0;
	border-top: 1px solid #000;
}

#fineprint {
	margin-top: 0.2em;
	padding-top: 3px;
	text-align: center;
	font-size: 0.85em;
}

.bordertop { border-top: 1px solid #000; }

dl.gloss dt {
	font-weight: bold;
}

#footer ul {
	display: inline;
	list-style-type: none;
}

#footer ul li {
	display: inline;
}

#footer ul li a, table.y2k td {
	white-space: nowrap;
}

#footer p {
	margin: 0px;
}

/* classes for cards */
.cardleft {
	margin: 0 0 1em;
	float: left;
	width: 49%;
}
.cardright {
	margin-left: 50%
	/*margin: 0 1% 2em 50%; */
}
.card {
	clear: left;
	margin: 0 0 1em;
}

.cardleft h2, .cardright h2, .card h2 {
	font-size: 120%;
	background: #000000;
	color: #FFD400;
	display: inline;
	padding: 0.2em 0.4em;
	margin: 0 10px;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 0.2em;
}

.cardleft dl dd, .cardright dl dd , .card dl dd {
	padding-bottom: 0.5em;
}

.cardleft div, .cardright div, .card div {
	border: 2px solid #000000;
	background: #FFFFFF;
	padding: 0.5em;
	margin: 2px 10px;
	/* the next two lines xpand the div to heigth of left inner div */
	overflow: auto;
}
/* colors for packages, warnings and news in ports */
.warning, dt.new, .no {
	color: red; /* FF0000 */
}

.psmallcenter, .psmalltrademark {
	clear: both;
	font-size: 0.85em;
	text-align: center;
}

.psmalltrademark {
	color: green;
}
table.ridgetable, table.reltable {
	border-width: 4px;
	border-color: gray;
	margin: 0 1em 1em 1em;
	border-style: ridge;
	border-collapse: collapse;
}
#pcontentsres col, #pcontentsres th, #pdownload th, #pdownload td, table.ridgetable th, table.ridgetable td,
	table.reltable td, table.reltable th {
	border: 2px #BFC3DC;
	border-style: ridge;
	padding: 0.1em;
}
table.reltable th {
	background-color: #44CCCC;
}
table.reltable tr.odd {
	background-color: #FFFFFF;
}
table.reltable tr.even {
	background-color: #DDDDDD;
}

/* language dependent stuff */
/* quotes */
html[lang="de"] q:before {
	content: "\00BB";
}
html[lang="de"] q:after {
	content: "\00AB";
}
html[lang="de"] q q:before {
	content: "\203A";
}
html[lang="de"] q q:after {
	content: "\2039";
}
html[lang="pl"] q:before { content: "\201E"; }
html[lang="pl"] q:after { content: "\201D"; }
html[lang="pl"] q q:after { content: "\2019"; }
html[lang="pl"] q q:before { content: "\201A"; }

html[lang="fr"] q:before { content: "\00AB\00A0"; }
html[lang="fr"] q:after { content: "\00A0\00BB"; } 
html[lang="fr"] q q:before { content: "\2039\00A0"; }
html[lang="fr"] q q:after { content: "\00A0\203A"; }

#leftcol:lang(ja) ul ul {
	font-size: 0.95em;
}
html[lang|="zh"] strong {
	/* color: #FFFFFF; */
	background-color: yellow;
}
.underline { text-decoration: underline; }
.clr { clear:both; }
/*.content{padding:5px;} */ /*padding for content */
/* #header .content{padding-bottom:0;} */ /*padding bottom 0 to remove space in IE5 Mac*/

/* for l10n-arabic */
.bidi {
	direction: rtl;
	text-align: right;
}
