[%- DEFAULT
   charset = 'UTF-8'
   po_lang = 'en'
   ddtp_lang = 'en'

   organisation = 'Ubuntu'
   project_homepage = 'http://www.ubuntu.com/'
   packages_homepage = '/'
   packages_homepage_abs = 'http://packages.ubuntu.com/'
   packages_homepage_abs = 'http://packages.debian.net/'
   old_releases = 'http://old-releases.ubuntu.com/'
   searchformurl = packages_homepage
   search_url = '/search'
   tags_url = 'http://debtags.alioth.debian.org/'
   bugs_url = 'http://bugs.debian.org/'
   launchpad_url = 'https://launchpad.net/distros/ubuntu/+source/'
   pts_url = 'http://packages.qa.debian.org/'
   ddpo_url = 'http://qa.debian.org/developer.php?login='
   src_bugs_url = bugs_url _ 'src:'
   mirror_url = 'http://archive.ubuntu.com/'
   security_mirror = 'security.ubuntu.com'
   security_mirror_url = security_mirror _ '/ubuntu'
   security_suite_suffix = '-security'
   changelogs_url = 'http://changelogs.ubuntu.com/changelogs/'
   policy_url = 'http://www.debian.org/doc/debian-policy/'
   cn_help_url = project_homepage _ 'intro/cn'
   patch_tracking_url = 'http://patch-tracker.debian.org/package'
   screenshots_url = '//screenshots.debian.net/package/'
   screenshots_thumb_url = '//screenshots.debian.net/thumbnail-with-version/'
   logo = {
	url => project_homepage,
        src => '/Pics/openlogo-nd-25.png',
        alt => organisation,
   }
   copyright = {
	url => 'http://www.canonical.com/',
        name => 'Canonical Ltd.',
        years => timestamp.year,
   }
   license = {
	url => project_homepage _ 'legal'
   }
   trademark = {
	name => copyright.name,
	url => project_homepage _ 'aboutus/trademarkpolicy'
   }
   contact = {
	name => 'Gerfried Fuchs',
	mail => 'rhonda@ubuntu.com',
        url => project_homepage _ 'support',
   }
   admin = {
	name => 'Gerfried Fuchs',
	mail => 'rhonda@ubuntu.com',
   }
   trademarknotes = g('%s is a <a href="%s">trademark</a> of %s', organisation, trademark.url, trademark.name)
#   sponsors = [
#   {
#   	url => 'http://example.invalid/',
#	name => 'Example Sponsor, Inc.',
#   },
#   {
#   	url => 'http://example2.invalid/',
#	name => 'Example2 Sponsor, Inc.',
#   },
#   ]
-%]
[%-
   # possible values for importance: high, normal, low
#   sitewidemsg = { importance => "high",
#		   txt => g('Please note that this is an experimental version of <a href="http://%s/">%s</a>. Errors and obsolete information should be expected', 'packages.ubuntu.com', 'packages.ubuntu.com') }
-%]
[%# @translators: . = decimal_point , = thousands_sep, see Number::Format %]
[%- USE num = Number.Format( decimal_point => g('.'),
    	      		     thousands_sep => g(','),
			     decimal_fill  => 1 ) -%]
