[%- FOREACH categories -%]
 [%- FOREACH packages -%]
  [%- FOREACH s IN suites -%]
    [%- FOREACH s.versions %]
Package: [% pkg %]
Url: [% packages_homepage _ make_url(pkg,'','suite',s.suite,'arch','','section','','format','') %]
Archive: [% archive %]
Suite: [% s.suite %]
Section: [% s.section %]
[%- "\nSubsection: $s.subsect" IF s.subsect %]
Description: [% s.desc %]
Version: [% version %]
Architectures: [% architectures.join(' ') %]
[%- IF s.providers %]
Provided-by: [% s.providers.join(', ') %]
[%- END -%]

[% END; END; END; END -%]

[%- FOREACH categories -%]
 [%- FOREACH src_packages -%]
  [%- FOREACH origins -%]
     [%- origin = (archive == main_archive) ? suite : "$suite/$archive" %]
Package: [% pkg %]
Url: [% packages_homepage _ make_url(pkg,'','source','source','suite',origin,'section','','arch','','format','') %]
[%- "\nArchive: $real_archive" IF real_archive %]
[%- "\nSection: $section" IF section %]
Subsection: [% subsection %]
Version: [% version %]
Binaries: [% binaries.join(', ') %]
[% END; END; END -%]
